In [9]:
import pandas as pd
from pathlib import Path

In [10]:
csvpath = Path("../pybank/budget_data.csv")

In [11]:
df = pd.read_csv(csvpath)

In [12]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [13]:
df.iloc[2,1] - df.iloc[1,1]

-662642

In [14]:
len(df.index)

86

In [15]:
net = df['Profit/Losses'].sum()

In [16]:
df['shifted_column'] = df['Profit/Losses'].shift(1)

In [17]:
df['difference'] = df['Profit/Losses'] -df['shifted_column']

In [23]:
(df['Profit/Losses'].diff()).sum()/86

-2288.1976744186045

In [10]:
average = df['difference'].mean()

In [12]:
maximum = df['difference'].max()
minimum = df['difference'].min()

In [13]:
df['difference'].idxmax()

25

In [50]:
Greatest_increase=df.iloc[df['difference'].idxmax(), df.columns.get_loc('Date')]

In [58]:
Greatest_decrease = df.iloc[df['difference'].idxmin(), df.columns.get_loc('Date')]

In [59]:
print("Financial analysis")
print("----------------------------")
print("Total Months: " + str(len(df.index)))
print("Total: $" + str(net))
print("Average Change: $%.2f" %average)
print("Greatest Increase in Profits:" + Greatest_increase + " ($"+ str(maximum)+")")
print("Greatest Decrease in Profits:" + Greatest_decrease + " ($"+ str(minimum)+")")

Financial analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits:Feb-2012 ($1926159.0)
Greatest Decrease in Profits:Sep-2013 ($-2196167.0)